@use '@/assets/font/iconfont.css' as *;
@use 'reset.css' as *;

// 滚动条样式
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 3px;
  cursor: pointer;
}

::-webkit-scrollbar-thumb {
  background: rgba(144, 147, 153, 0.3);
  border-radius: 3px;
  cursor: pointer;
}

:focus-visible {
  outline: none;
}